# Ignore ALL
*

# Allow config
!/.gitignore
!/.github/**
!.golangci.yml
!cliff.toml
!codecov.yml
!Dockerfile
!build.sh
!install.sh

# Allow Go
!*.go
!go.sum
!go.mod

# Allow deez
!/img/*.png
!cliff.toml
!/docs/**
!README.md
!LICENSE

# ...and allow all that in the subdirs too
!*/

# apple
.DS_Store
