name: Security

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  scan:
    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version: '1.25.3'

    - name: Run gosec
      uses: securego/gosec@c34cbbf56507211a7bfd749654ba2e76c5851f71
      with:
        args: './...'

    - name: Run govulncheck
      run: |
        go install golang.org/x/vuln/cmd/govulncheck@latest
        govulncheck ./...
